*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.hero{
    overflow-y: hidden;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    opacity: 0.8;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(59, 122, 238);
    color: white;
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
  }
  
#particles-js{
    /* background: url(../images/hero.jpg) no-repeat center center/cover; */
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(img/img.jpg) ;
    background-attachment: fixed;
}

nav{
   
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: relative;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.1); */
}

nav a{
    position: relative;
    padding: 0px 20px;
    color: #fff;
    font-weight: 18px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.5px;
}
nav a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;
}
nav a:hover::after{
    width: 100%;
    transition: 0.5s;
}


nav ul li{
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #fff;
    
}
img{
    position: absolute;
    left: 10px;
    top: -8px;
}
li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
} 
.uil-bars{
    position: absolute; 
    top:30px;
    right:36px;
    display: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}
.uil-multiply{
    position: absolute; 
    top:30px;
    right:36px;
    display: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
 } */


 @media screen and (max-width: 966px){
   nav{
    padding: 0;
   }
   nav ul{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    backdrop-filter: blur( 4px );
    height: 100vh;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -200%;
    transition: all 1s ease;
   }

    nav .mobile-menu{
    margin-right: 0;
   } 
    
   nav ul li{
    font-size: 2em;
    padding-top: 15px;
    padding-bottom:5px;
   }
    .uil-bars{
    display: block;
   } 
   .uil-multiply{
    display:block;
   }
 }
/*****************first section******************/

.first-section{
    height: 100vh;
    width: 100%;
    display: flex;
    margin-bottom: 10em;

}
.first-section-content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-img{
    position: relative;
    width: 100%;
    height: 100%;   

}
.thumbnail{
    position: absolute;
    border-radius: 8px;
    width: 60%;
    height: 70%;
    margin: auto;
    margin-right: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    overflow: hidden;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.first-section .second-section-content {
    width: 50%;
    height: 100%;
}
.first-section .second-section-content h1{
    margin-top: 20px;
    padding-top:30px; 
    line-height: 1.2;
    color:rgb(95,95,95);
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}

.informations span{
    padding-left: 30px;
    /* float: left; */
}
.first-section .second-section-content p{
    margin-top: 13px;
    padding:8px 8px;
    line-height: 1.2;
    color:rgb(95,95,95);
    text-align: center;
    font-size: large;
    font-weight: 300;
}
.thumbnail-img .thumbnailSmall{
    display: none;
}

@media screen and (max-width: 978px){
    body{
        overflow-x: hidden;
    }
    .first-section{
        flex-direction: column;
    }
    .first-section-content{
        width: 100%;
        height: 50%;
       
    }
    .first-section .second-section-content{
        width: 100%;
        height: 50%;
        margin: auto;
        /* margin-top: 3em; */
    }
    .thumbnail-img{
        padding-top: 20px ;
        width: 100%;
        height: 100%;
    }
    .informations{
        padding-left: 0px;
        display: flex;     
        justify-content: center; 
    }
    .informations span{
        margin-top:0px;
        padding-left: 0px;
        float: none;
        text-align: center;
    }
    .thumbnail{
        width: 60%;
        height: 100%;
        top: 20%;
        left: 20%;
        margin-right: 4em;
        margin-top: 2em;
        transform: translate(-50%,-50%);
    }
   .first-section .second-section-content h1{
        margin-top: 4em;
        font-size: 30px;
    }
   .first-section .second-section-content p{
        font-size: 14px;
        margin-top: 0px;
    }
    .informations{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .first-section{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }
    .informations  p{
        margin-top: 0px;
    }
    /* .thumbnail{
        display: none;
    } */
    
}
/*****************second section******************/
.second-section{
    height: 100vh;
    width: 100%;
    margin-top: 4em;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #EAEAEA;
}
.second-section .second-section-content{
    padding-top:3em ;
    width: 100%;
    /* margin-top: 20px; */
 
} 
.second-section .second-section-content h1{
    margin-top: 20px;
    line-height: 1.2;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
} 
  

.skills{
    margin-top:0;
    width: 100%;
    height: 50%;
    display: flex;
}
.skills-part{
    margin-top: 0em;
    margin-right: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.skill-bar{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 8px;
}
 .skill-bar .skill-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px; 
}
.skill-bar .skill-info p{
    font-size: 15px;
    font-weight: 600;
    padding-left: 2em;
}
.skill-bar .bar{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    background-color: #9fc9f3;
    position: absolute;
    border-radius: 10px;
}

.skill-bar .bar .html{
    width: 90%;
    animation: h 40s;
}
.skill-bar .bar .css{
    width: 50%;
    animation: c 40s;
}
.skill-bar .bar .js{
    width: 45%;
    animation: j 40s;
}
.skill-bar .bar .php{
    width: 70%;
    animation: p 40s;
}
.skill-bar .bar .sql{
    width: 50%;
    animation: m 40s;
}
.skill-bar .bar .laravel{
    width: 70%;
    animation: l 40s;
}

.skill-bar .bar .uml{
    width: 60%;
    animation: b 40s;
}
.skill-bar .bar .git{
    width: 70%;
    animation: g 40s;
}

@keyframes h {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
    
@keyframes c {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@keyframes j {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}
@keyframes p {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@keyframes m {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
@keyframes l {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
@keyframes b {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
@keyframes g {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}


@media screen and (max-width: 393px) {
    .first-section{
        margin-top: 2em;
    }
    .skill-bar{
        width: 100%;
        /* margin: 2px 6px; */
    }
    .skill-bar .bar{
        width: 100%;
    }
    .skills-part{
        width: 50%;
    }
    .skill-bar .skill-info{
        width: 80%;
        padding: 0px 0px;
    }
    .skill-bar .skill-info p{
        font-size: 14px;
        font-weight: 600;
        padding-left: 0.5em;
    }
    
}
/******third section*******/
.third-section{
    height: 80vh;
    width: 100%;
    padding: 20px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.third-section .third-section-content{
  margin-top: 2em;
}
.container{
    margin-top:3em;
    width: 70%;
    height: auto;
    position: relative;

}
.container::after{
  content: "";
  position: absolute;
  width: 3px;
  height: 90%;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  z-index: -2;
}
.container .timeline .timeline-item{
   width: 50%;
   height: auto;
   padding: 15px 20px;
   margin: auto;
   margin-bottom: 30px;
   background-color: #8EC5FC;
   background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.4);
     
}

.container .timeline .timeline-item:nth-child(2) {
    float: right;
    clear: left;
    transform: translateX(10%);
}
.container .timeline .timeline-item:nth-child(1){
    float: left;
    clear: right;
    transform: translateX(-10%);
}

.container .timeline .timeline-item p{   
    letter-spacing: 1px;
}

.container .timeline .timeline-item .circle{
    position: absolute;
    top:0px;
    width: 30px;
    height: 30px;   
    background-color:rgba(118, 187, 224, 0.527);
    border-radius: 50%;
}
.container .timeline .timeline-item .circle::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15px;
    height: 15px;
    background-color: hsl(210, 67%, 64%);
    border-radius: 50%;
}

.container .timeline .timeline-item:nth-child(1) .circle{
    right:-30px;
    transform: translate(108%,-50%); 
}

.container .timeline .timeline-item:nth-child(2) .circle{
    left:-30px;   
    transform: translate(-102%,-50%);  
}

@media screen and (max-width:1350px){
    .container{
        width: 80%;
        transform: translateX(15px);
    }
    .container .timeline .timeline-item{
        width: 100%;
        margin-bottom: 20px;
        margin-left: auto;
    }
    .container .timeline .timeline-item:nth-child(2) {
        float: none;
        clear: none;
        transform: translateX(0%);
    }
    .container .timeline .timeline-item:nth-child(1){
        float: none;
        clear: none;
        transform: translateX(0%);
    }
    .container::after{
        margin-top: 0.5em;
        height: 100%;
        top: -5%;
        float: left;
        left: -2.9em;

    } 
    .container .timeline .timeline-item:nth-child(1) .circle{
        margin-top: 8px;
        right:-30px;
        transform: translate(-100%,-80%); 
    }
    .container .timeline .timeline-item .circle{
        left: -30px;
        transform: translate(-100%,-80%);  
        margin-top: 8px;
    }
   
}
/******fourth section*******/
.fourth-section{
    height: 100vh;
    width: 100%;
    margin-top: 2em;
    margin-bottom: auto;
    padding: 10px 10px;
    display:flex;
    flex-direction: column;
    align-items: center;

}
 .first-section .first-section-content {
    margin-bottom: 2em;
}

.fourth-section .swiper{
    margin-top: 2em;
    width: 70%;
    height: 80%;
}

.swiper .swiper-wrapper .swiper-slide{
    width: 70%;
    height: 90%;
}
.swiper .swiper-wrapper .swiper-slide img{
    margin-top: 1em;
    margin-left: 5em;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    width: 80%;
    height: 100%;

}
@media screen and (max-width:967px) {
    .swiper .swiper-wrapper .swiper-slide{
        width: 100%;   
        height: 90%;    
    }
.swiper .swiper-wrapper .swiper-slide img{
    width: 90%;
    margin-left: 1em;
}
.fourth-section{
    margin-top: 3em;
}
}

/***********Five Section**********/
.five-section{
    height: 80vh;
    width: 100%;
    margin-bottom: auto;
    padding: 10px 10px;
    display:flex;
    flex-direction: column;
}
.five-section .five-section-content{
    margin-bottom: 3em;
}
.five-section .contact-me{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.contact-me-content{
    width: 50%;
    height: 100%;
}
form{
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}
input{
    margin-bottom: 6px;
    padding: 10px 10px;
    border-color: gray;
    border-radius: 8px;
    border-width: 2px;
    outline: none;
}
input:focus::placeholder {
    color: transparent;
  }
.button{
    width: 50%;
    background-color: #8EC5FC;
    border-radius: 20px;
    border: #fff;
}
.button:hover{
   
    background-color: #6face9;
    cursor: pointer;
   
}
textarea{
    margin-bottom: 8px;
    padding: 10px 10px;
    border-color: black;
    border-style: solid;
    border-radius: 8px;
    resize: none;
    border-width: 2px;
}
textarea:focus::placeholder {
    color: transparent;
  }
.svg{
    position: relative;
    margin-left: auto;
    width: 50%;
    height: 100%;
   
}
.svg:hover{
    transform: translateY(-20px);
    transition: 1.5s; 
}

.svg img{
    position: absolute;
    top:0px;
    left: 0px;
    width: 80%;
    height: 80%;
}

@media screen and(max-width:967px) {   
    .svg img{      
        width: 100%;
        height: 100%;
    }
}
/***********footer Section**********/
footer{
    width: 100%;
    height: 60vh;
    color: white;
    background-color: rgb(53,134,255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons{
    margin-top: 10em;
    display: flex;
    justify-content: space-between;
}
.footer-icons div a{
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    padding-left: 10px;
    margin-left: 10px;
    
}
.footer-icons div:hover{
   transform: translateY(-10px);
   transition: 0.5s;
}
.footer-links{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content:space-around;

}
.footer-links div a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    margin-left: 8px;
}
.footer-links div:hover{
    transform: translateY(-8px);
    transition: 0.5s;
}
.footer-copyright p{
    font-weight: 400;
}

footer .wave{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background:#ffffff url(img/wave.png);
    background-size: 1000px 100px;
}
@media screen and (max-width:600px) {
   footer p{
    text-align: center;
   }
}
    



